<html>
	<head><title>Template</title></head>
	<body>
		<pre>
			<% for (var i = 0; i< thedata.length; i++){ %>
			<h1><%= thedata[i].keyword+"\t"+thedata[i].font+"\t"+thedata[i].width%><br></h1>
		 	<h3><%=thedata[i].ASCII%><br></h3>
			<%}%>
		</pre>
	</body>
</html>